All Categories
<% @categories.each do |category| %>
<ul>
  <li>
    <%=  %>
    <%= link_to category.title, category_path(category) %><br>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: "delete" %>
  </li>
  <% end %>
</ul>
